[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipfile = "*"
python-decouple = "*"
django = "*"
django-crispy-forms = "*"
pillow = "*"
django-ckeditor = "*"
crispy-bootstrap5 = "*"
pip = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.11"
